*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

.hamburger{
    display: none;
}


/*THE HOME PAGE*/


.home{
    background: url(images/water-hyacinth-blooming-lake-260nw-1288514869.webp), rgba(0,0,0,0.45); 
    background-blend-mode: darken;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    color: #348C31;
    font-family: cursive;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
}

.headerIndex, .aboutIndex, .galleryIndex, .contactIndex{
    height: 50px;
    background-color: #CBC3E3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

.logoIndex{
    font-family: 'MonteCarlo', cursive;
    width: max-content;
}

.navigationIndex li{
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
}

.navigationIndex a{
    text-decoration: none;
    color: #800080;
}

.navigationIndex a:hover{
    text-decoration: underline;
}

.titleIndex{
    margin-bottom: 2rem;
    padding: 0;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nameIndex, .descrIndex{
    margin: 0;
    padding: 0;
    width: max-content;
}

.nameIndex{
    color: #E8B923;
}

.descrIndex{
    margin-top: 0.5rem;
    color: #D4F1F9;
}


/*ABOUT PAGE*/

.about{
    margin: 0;
    width: 100%;
    height: 100%;
    color: #348C31;
    font-family: cursive;
    /* overflow: hidden; */
}

.siteAbout{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.aboutPic{
    flex-basis: 50%;
    margin: 0;
}

.infoAbout{
    flex-basis: auto;
    margin: 0 1rem;
}


/*GALLERY PAGE*/

.gallery{
    margin: 0;
    width: 100%;
    height: 100%;
    color: #348C31;
    display: flex;
    flex-direction: column;
    font-family: cursive;
    background-color: #7A9598;
}

.thePics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.picBox{
    display: flex;
    flex-direction: row;
    flex-basis: 48%;
    height: 50%;
    justify-content: space-around;
}

.picGallery{
    width: 48%;
}

.picBox2{
    margin-top: 1rem;
}


/*CONTACT PAGE*/

.contact{
    margin: 0;
    width: 100%;
    height: 100%;
    color: #348C31;
    font-family: cursive;
    background-image: url(./images/water-hyacinth-poisoning.jpg);
    background-size: cover;
    height: auto;
    background-position: center;
}

.formHeader{
    font-family: 'Rancho', cursive;
    font-size: 40px;
    text-align: center;
    color: #800080;
    opacity: 0.8;
}

form{
    text-align: center;
}

input{
    display: block;
    margin: 0.7rem auto;
    background-color: rgba(255, 214, 0, 0.3);
    height: 2rem;
    border: 2px solid #348C31;
    width: 300px;
    border-radius: 6px;
    font-weight: 500;
}

textarea{
    margin: auto;
    background-color: rgba(255, 214, 0, 0.3);
    border: 2px solid #348C31;
    width: 300px;
    border-radius: 6px;
    font-weight: 500;
    resize: none;
}

.button{
    width: 300px;
    text-align: left;
    margin: auto;
}

.submit{
    background-color: #348C31;
    color: rgba(255, 214, 0, 0.5);
    padding: 5px 10px;
    border: none;
    margin-top: 0.5rem; 
    margin-bottom: 1rem;
    border-radius: 6px;
}

input:focus, textarea:focus{
    outline: none;
    border: 2px solid #E8B923;
}

::placeholder{
    color: #348C31;
    opacity: 1;
}

::-ms-input-placeholder{
    color: #348C31;
    opacity: 1;
}

:-ms-input-placeholder{
    color: #348C31;
    opacity: 1;
}

::-moz-placeholder{
    color: #348C31;
    opacity: 1;
}

:-moz-placeholder{
    color: #348C31;
    opacity: 1;
}

::-webkit-input-placeholder{
    color: #348C31;
    opacity: 1;
}



/*MEDIA QUERIES*/

@media (max-width : 650px){

    .nav-menu {
        position: fixed;
        left: -100%;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        margin-top: 2.9rem;
        background-color: #E8B923;
        opacity: 0.5;
        width: 100%;
        padding-left: 0.2rem;
    }

    .headerIndex, .aboutIndex, .galleryIndex, .contactIndex{
        padding: 0.5rem 1rem;
    }

    .nav-menu.active {
        left: 0;
    }

    .navItem {
        margin: 0.2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        font-size: 2rem;
        font-weight: 700;
        color: #800080;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
}


@media (max-width : 830px){

    /*ABOUT PAGE MODIFICATION*/
    .aboutPic{
        display: none;
    }

    .infoAbout{
        background-image: url(./images/IMG-20211217-WA0040.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        margin: 0;
    }

    .infoAboutP{
        color: #800080;
        padding: 0 1rem;
    }

}